
$headerColor: #E8E8E8;
$containerBackgroundColor: #fff;
$bodyBackgroundColor: lighten(#B7C8D9, 12%);
$menuTileBorcerColor: #B7C8D9;
$btnBackgroundColor: rgba(#000, 0.5);
$mainBackgroundColor: lighten(#9E9E9E, 30%);
$galleryImgTitleColor: #F0F0F0;
$likeBorderColor: #fff;
$likeBackgroundColor: #505050;
$likeColor: #fff;
$subsrcibeSubmitBtnBackgroundColor: #343638;
$subsrcibeSubmitBtnBorderColor: #343638;
$subscribeSubmitBtnColor: #E8E8E8;
$subscribeEmailInputBorderColor: #343638;
$footHeaderColor: #000;
$footColor: #8E8E8E;
$footSmallColor: #A4A4A4;
$footNavBorderColor: #F3F3F3;
$footMenuHoverItemColor: #000;
$footMenuActiveItemColor: #ff0;

$footNavBorderWidth: 3px;

$quickSpeedTransition: 0.1s;
$normalSpeedTransition: 0.2s;
