$bodyBackgroundColor: #dcbb9a;
$contentBackgroundColor: #ffffff;
$headerColor: #893c00;
$fontColor: #000000;
$briefBackgroundColor: #fadcba;
$imgBorderColor: #893c00;
$tableThBackgroundColor: #e0e0e0;
$tableTdBackgroundColor: #ffffff;
$tableBorderColor: #e0e0e0;
$tableFontColor: #000000;
$formLabelColor: darken(#e0e0e0,40%);
$btnColor:#3d70a1;
$btnBorderColor: #3d70a1;
$aLinkColor: #3d70a1;
$aVisitedColor: darken($aLinkColor, 20%);
$aHoverColor: lighten($aLinkColor, 20%);