$bodyBackgroundColor: rgba(198, 238, 252, 0.53);
$contentBackgroundColor: #3b3b3b;
$headerColor: #fccd10;
$fontColor: #ffffff;
$briefBackgroundColor: #fff178;
$imgBorderColor: #f5c70f;
$tableThBackgroundColor: #94a34e;
$tableTdBackgroundColor: #677d01;
$tableBorderColor: #94a34e;
$tableFontColor: #fccd10;
$formLabelColor: #fccd10;
$btnColor:#fccd10;
$btnBorderColor: #fccd10;
$aLinkColor: #fccd10;
$aVisitedColor: darken($aLinkColor, 20%);
$aHoverColor: lighten($aLinkColor, 20%);