

$basicFont: 14px/1.2 Arial, Helvetica, sans-serif;

$containerBackgroundColor: #fff;
$headerNavBackgroundColor: #e8e8e8;
$headerNavColor: #000;
$headerNavDividerColor: #bfbfbf;
$headerNavHoverBackgroundColor: #39c2d7;
$headerNavHoverColor: #fff;
$mainBackgroundColor: #fff;
$bannerHBackgroundColor: #39c2d7;
$bannerHColor: #fff;
$newsArticleBackgroundColor: #c5c5c5;
$newsArticleHoverBackgroundColor: #39c2d7;
$newsArticleColor: #000;
$newsArticleShadowColor: #333;
$footBackgroundColor: #39c2d7;
$footColor: #fff;
$headerNavAHoverColor: #39c2d7;

$transitionDuration: 0.15s;
